ion-app {
  --ion-font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

ion-toast {
  --border-radius: 8px;
  --max-width: 90%;
  top: -12px;
  text-align: center;
}

ion-loading.loading {
  --background: none;
  --min-width: 100%;
  --min-height: 100%;
  --spinner-color: #ffffff;
}

ion-searchbar {
  --border-radius: 24px !important;
  margin: 12px 0 !important;
  padding: 0 6px !important;
}
