ion-app {
  --ion-font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

ion-toast {
  --border-radius: 8px;
  text-align: center;
}

ion-loading.loading {
  --background: none;
  --min-width: 100%;
  --min-height: 100%;
  --spinner-color: #ffffff;
}
